{% extends 'nav.html'%}
{% block body %}
<div class="container">
  <h1>Add Size Variant</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="color_product">Color Product:</label>
        <select class="form-control" id="color_product" name="color_product" required>
          <option value="" selected disabled>Select Color Product</option>
          
          <option value="{{  color_products.id }}">{{  color_products.color_name }}({{  color_products.product.name}})</option>
          
        </select>
      </div>
    <div class="form-group">
      <label for="size">Size:</label>
      <input type="text" class="form-control" id="size" name="size" placeholder="Enter size" required>
    </div>
    <div class="form-group">
      <label for="quantity">Quantity:</label>
      <input type="text" class="form-control" id="quantity" name="quantity" placeholder="Enter quantity" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% if messages %}
  <div class="messages text-center text-capitalize font-weight-bold">
{% for message in messages %}
{% if message.tags == 'error' %}
<h5 class="text-danger">! {{ message }}</h5>
{% elif message.tags == 'success' %}
<h5 class="text-success">! {{ message }}</h5>
{% else %}
<h5>! {{ message }}</h5>
{% endif %}
{% endfor %}
</div>
{% endif %}
</div>
{% endblock %}
