{% extends 'nav.html'%}
{% block body %}

<div class="container">
    <h3 class="mb-4" >Edit Product</h3>
    <form id="editProductForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Product Name -->
        <div class="form-group">
            <label for="productName">Name:</label>
            <input type="text" class="form-control" id="productName" name="name" value="{{ product.name }}">
        </div>
        <!-- Product Price -->
        <div class="form-group">
            <label for="productPrice">Price:</label>
            <input type="text" class="form-control" id="productPrice" name="price" value="{{ product.price }}">
        </div>
        <!-- Product Thumbnail -->
        <div class="form-group">
            <label for="productThumbnail">Thumbnail:</label>
            <input type="file" class="form-control-file" id="productThumbnail" name="Thumbnail">
            <img src="{{ product.thumbnail.url }}" alt="Cover Image" style="max-width: 100px;" height='80px'>
        </div>
        <!-- Product Description -->
        <div class="form-group">
            <label for="productDescription">Description:</label>
            <textarea class="form-control" id="productDescription" name="description">{{ product.description }}</textarea>
        </div>
        <!-- Product Category -->
        <div class="form-group">
            <label for="productCategory">Category:</label>
            <select class="form-control" id="productCategory" name="Category">
                {% for category in categories %}
                <option value="{{ category.id }}" {% if product.product.catagory.id == category.id %}selected{% endif %}>{{ category.cat_name }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Product Brand -->
        <div class="form-group">
            <label for="productBrand">Brand:</label>
            <select class="form-control" id="productBrand" name="Brand">
                {% for brand in brands %}
                <option value="{{ brand.id }}" {% if product.product.brand.id == brand.id %}selected{% endif %}>{{ brand.B_name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form> 
    
    {% if messages %}
    <div class="messages text-center text-capitalize font-weight-bold">
  {% for message in messages %}
  {% if message.tags == 'error' %}
  <h5 class="text-danger">! {{ message }}</h5>
  {% elif message.tags == 'success' %}
  <h5 class="text-success">! {{ message }}</h5>
  {% else %}
  <h5>! {{ message }}</h5>
  {% endif %}
  {% endfor %}
  </div>
  {% endif %}
</div>
</div>

    {% endblock %}