{% extends 'nav.html'%}
{% block body %}

<div class="container">
    <h3 class="mb-4" >Edit Product</h3>
    <form id="editProductForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Product Name -->
        <div class="form-group">
            <label for="productName">Name:</label>
            <input type="text" class="form-control" id="productName" name="productName" value="{{ product.product.name }}">
        </div>
        <!-- Product Price -->
        <div class="form-group">
            <label for="productPrice">Price:</label>
            <input type="text" class="form-control" id="productPrice" name="productPrice" value="{{ product.product.price }}">
        </div>
        <!-- Product Thumbnail -->
        <div class="form-group">
            <label for="productThumbnail">Thumbnail:</label>
            <input type="file" class="form-control-file" id="productThumbnail" name="productThumbnail">
        </div>
        <!-- Product Description -->
        <div class="form-group">
            <label for="productDescription">Description:</label>
            <textarea class="form-control" id="productDescription" name="productDescription">{{ product.product.description }}</textarea>
        </div>
        <!-- Product Category -->
        <div class="form-group">
            <label for="productCategory">Category:</label>
            <select class="form-control" id="productCategory" name="productCategory">
                {% for category in categories %}
                <option value="{{ category.id }}" {% if product.product.catagory.id == category.id %}selected{% endif %}>{{ category.cat_name }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Product Brand -->
        <div class="form-group">
            <label for="productBrand">Brand:</label>
            <select class="form-control" id="productBrand" name="productBrand">
                {% for brand in brands %}
                <option value="{{ brand.id }}" {% if product.product.brand.id == brand.id %}selected{% endif %}>{{ brand.B_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="productVariants">Variants:</label>
            <div class="form-group">
                <label for="cat_name">Category Name:</label>
                <input type="text" class="form-control" id="color_name" name="color_name" value="{{product.color_name}}">
            </div>
           <div class="row">
            <div class="col-md-4">
            <div class="form-group">
                <label for="cover_image"> Image 1</label>
                <input type="file" class="form-control" id="cover_image" name="cover_image">
                {% if product.img1 %}
                <img src="{{ product.img1.url }}" alt="Cover Image" style="max-width: 100px;" height='80px'>
                {% endif %}
            </div>
        </div> 
        <div class="col-md-4">
            <div class="form-group">
                <label for="cover_image">Image 2</label>
                <input type="file" class="form-control" id="cover_image" name="cover_image">
                {% if product.img2 %}
                <img src="{{ product.img2.url }}" alt="Cover Image" style="max-width: 100px;" height='80px'>
                {% endif %}
            </div>
        </div> 
         <div class="col-md-4">
            <div class="form-group">
                <label for="cover_image">Image 3</label>
                <input type="file" class="form-control" id="cover_image" name="cover_image">
                {% if product.img3 %}
                <img src="{{ product.img3.url }}" alt="Cover Image" style="max-width: 100px;"  height='80px'>
                {% endif %}
            </div>
        </div>
    </div>

    
    {% for size in product.size.all %}
    <div class="row variant-row">
        <div class="col-md-4">
            <label for="size" class="control-label">Size:</label>
            <input type="text" class="form-control" name="size" value="{{ size.size }}" readonly>
        </div>
        <div class="col-md-4">
            <label for="quantity" class="control-label">Quantity:</label>
            <input type="number" class="form-control" name="quantity" value="{{ size.quantity }}">
        </div>
    </div>
{% endfor %}
    
            
          
        </div>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form> 
    
    {% if messages %}
    <div class="messages text-center text-capitalize font-weight-bold">
  {% for message in messages %}
  {% if message.tags == 'error' %}
  <h5 class="text-danger">! {{ message }}</h5>
  {% elif message.tags == 'success' %}
  <h5 class="text-success">! {{ message }}</h5>
  {% else %}
  <h5>! {{ message }}</h5>
  {% endif %}
  {% endfor %}
  </div>
  {% endif %}
</div>
</div>

    {% endblock %}