{% extends 'nav.html' %}
{% block body %}
<div class="col text-end">
    <h5 > <a href="{% url 'unlist_products' %}" >Unlist products</a></h5>
</div>

<table border="1" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Thumbnail</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Price</th>
            
            
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        
            <tr>
                
                    <td >{{ product.name }}</td>
                    
                    <td><img src="{{ product.thumbnail.url }}" alt="Thumbnail" width="80px"></td>
                   
                    <td>{{ product.catagory }}</td>
                    <td>{{ product.brand }}</td>
                    <td>{{ product.price }}</td>
                    
                <td rowspan="">
                    <a href="{% url 'product_variant' product.id %}"><button class="btn btn-success">Variants</button></a>
                    
                </td>
                        <td rowspan="">
                            <a href="{% url 'editproduct' product.id %}"><button class="btn btn-primary edit-product">Edit</button></a>
                            
                        </td>
                      
                        <td rowspan="">
                            <a href="{% url 'unlist_product' product.id %}"><button class="btn btn-danger">Unlist</button></a>
                        </td>
                        
                
            </tr>
        {% endfor %}
        
            
    
</tbody>
</table> 

<!-- Edit Product Modal -->


{% endblock %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const sizeSelect = document.getElementById('sizeSelect');
        const quantityDisplay = document.getElementById('quantityDisplay');

        sizeSelect.addEventListener('change', function() {
            const selectedSize = this.value;
            const sizeOptions = this.options;
            const selectedIndex = this.selectedIndex;

            if (selectedIndex === 0) {
                quantityDisplay.textContent = ''; // Clear quantity display if no size is selected
            } else {
                const selectedOption = sizeOptions[selectedIndex];
                const quantity = selectedOption.getAttribute('data-quantity');
                quantityDisplay.textContent = `Quantity: ${quantity}`;
            }
        });
    });
</script>
