{% extends 'user_nav.html' %}
{% block body %}

{% load static %}
<section class="my-5">
    <div class="container">
        <div class="main-body">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card border-0 shadow rounded-lg">
                        <div class="card-body text-center">
                            <img src="{% static 'img/profile-pic.jpg' %}" alt="Profile Picture" class="rounded-circle mb-3" width="150">
                            <h4 class="text-uppercase mb-1">Jyoti</h4>
                            <p class="text-muted font-size-sm">Delhi, NCR</p>
                            <div class="list-group list-group-flush mt-4">
                                <a href="{% url 'view_address' %}" class="list-group-item list-group-item-action border-0">
                                    Profile Information
                                </a>
                                <a href="{% url 'user_order'  %}" class="list-group-item list-group-item-action border-0">
                                    Orders
                                </a>
                                <a href="{% url 'changepassword'  %}" class="list-group-item list-group-item-action border-0">
                                    Change Password
                                </a>
                                <a href="{% url 'view_coupon' %}" class="list-group-item list-group-item-action border-0">
                                    Coupons
                                </a>
                                <a href="#" class="list-group-item list-group-item-action border-0">
                                    Logout
                                </a>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

                <script>
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                    swal("Success!", "{{ message }}", "success");// Display error message with a warning icon
                    
                     // Display success message with a success icon
                    {% else %}
                     // Display general message
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </script>
                <div class="col-lg-8">
                    <div class="card border-warning"> <!-- Added class for orange border -->
                        <div class="card-body">
                            <h5>Change Password</h5>
                            <form method="POST" action="{% url 'changepassword'%}">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="old_password" class="col-md-4 col-form-label text-md-right">Old Password</label>

                                    <div class="col-md-6">
                                        <input id="old_password" type="password" class="form-control" name="old_password" required autocomplete="current-password">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="new_password1" class="col-md-4 col-form-label text-md-right">New Password</label>

                                    <div class="col-md-6">
                                        <input id="new_password1" type="password" class="form-control" name="new_password1" required autocomplete="new-password">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="new_password2" class="col-md-4 col-form-label text-md-right">Confirm New Password</label>

                                    <div class="col-md-6">
                                        <input id="new_password2" type="password" class="form-control" name="new_password2" required autocomplete="new-password">
                                    </div>
                                </div>

                                <div class="form-group row mb-0">
                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary">
                                            Change Password
                                        </button>
                                    </div>
                                </div>
                            </form>

                            {% if messages %}
              <div class="messages text-center text-capitalize font-weight-bold">
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <h5 class="text-danger">! {{ message }}</h5>
           
            {% else %}
            <h5></h5>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script src="{% static 'user/home/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'user/home/js/bootstrap.min.js' %}"></script>
<script src="{% static 'user/home/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'user/home/js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'user/home/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'user/home/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'user/home/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'user/home/js/mixitup.min.js' %}"></script>
<script src="{% static 'user/home/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'user/home/js/main.js' %}"></script>
{% endblock %}
