{% extends 'user_nav.html'%}
{% block body %}

{% load static %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="{% url 'user_home' %}">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll" id="category-list">
                                                {% for i in category %}
                                                <li value="{{i.id}}" data-category-id="{{i.id}}"><a href="{% url 'filterd' i.id %}">{{i.cat_name}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul id="brand-list">
                                                {% for i in brand %}
                                                <li value="{{i.id}}" id="brand-{{i.id}}"><a href="#">{{i.B_name}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Add more filters if needed -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing 1–12 of 126 results</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sort by Price:</p>
                                <select>
                                    <option value="">Low To High</option>
                                    <option value="">$0 - $55</option>
                                    <option value="">$55 - $100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="products">
                    {% for i in products %}
                    {%if i.product.catagory.is_listed and i.product.brand.is_listed and i.product.is_listed %}
                    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg " data-setbg>
                                
                                <a href="{% url 'shopdetails' i.id i.product.id %}"><img src="{{i.product.thumbnail.url}}" alt=""></a>
                                <ul class="product__hover">
                                    <li><a href="#"><img src="{% static 'user/home/img/icon/heart.png' %}" alt=""></a>
                                    </li>

                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6>{{i.product.name}}</h6>
                                <a href="#" class="add-cart">+ Add To Cart</a>
                                <div class="rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5>{{i.product.price}}</h5>
                                <div class="product__color__select">
                                    <label for="pc-4">
                                        <input type="radio" id="pc-4">
                                    </label>
                                    <label class="active black" for="pc-5">
                                        <input type="radio" id="pc-5">
                                    </label>
                                    <label class="grey" for="pc-6">
                                        <input type="radio" id="pc-6">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
</section>
<!-- Shop Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <!-- <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="img/footer-logo.png" alt="hai"></a>
                    </div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <a href="#"><img src="{% static img/payment.png" alt="hee"></a>
                </div> -->
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Trending Shoes</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivary</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Include jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Your jQuery script -->
{% comment %} <script>
    $(document).ready(function() {
        // Attach click event to each category link
        $('#category-list li').off().click(function() {
            // const category_id = "100"
            const category_id = $(this).data('category-id');  // Get the category ID from the clicked list item
            console.log('Category ID:', category_id);
            filterProducts(category_id, null); // Pass category ID to filterProducts function
        });

        // Attach click event to each brand link
       

        // Function to filter products based on category and brand
        function filterProducts(category_id) {
            $.ajax({
                url: '/filterd/',
                type: 'GET',
                data: {
                    'category_id': category_id,
                    
                },
                success: function(data) {
                    $('#products').html(data);
                },
                error: function(xhr, status, error) {
                    console.error('AJAX Error:', error);
                }
            });
        }
    });
</script> {% endcomment %}

    
    



<!-- Search End -->

<!-- Js Plugins -->
<!-- Js Plugins -->
<script src="{% static 'user/home/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'user/home/js/bootstrap.min.js' %}"></script>
<script src="{% static 'user/home/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'user/home/js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'user/home/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'user/home/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'user/home/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'user/home/js/mixitup.min.js' %}"></script>
<script src="{% static 'user/home/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'user/home/js/main.js' %}"></script>
{% endblock %}