{% extends 'user_nav.html' %}
{% block body %}

{% load static %}
<section class="my-5">
    <style>body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        background-color: #f4f4f4;
    }
    
    .card {
        border: none;
        border-radius: 0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    .card-title {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .coupon-list .coupon {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 15px;
        border-bottom: 1px solid #e0e0e0;
    }
    
    .coupon h6 {
        font-size: 1.2em;
        margin: 0;
        font-weight: 500;
    }
    
    .coupon p {
        margin: 5px 0 0;
        color: #777;
    }
    
    .badge-dark {
        background-color: #333;
        color: #fff;
    }
    </style>
    <div class="container">
        <div class="main-body">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card border-0 shadow rounded-lg">
                        <div class="card-body text-center">
                            <!-- Profile Picture -->
                            <img src="{% static 'img/profile-pic.jpg' %}" alt="Profile Picture" class="rounded-circle mb-3" width="150">
                            <!-- User Info -->
                            <h4 class="text-uppercase mb-1">Jyoti</h4>
                            <p class="text-muted font-size-sm">Delhi, NCR</p>
                            <!-- Navigation Links -->
                            <div class="list-group list-group-flush mt-4">
                                <a href="{% url 'view_address' %}" class="list-group-item list-group-item-action border-0">
                                    Profile Information
                                </a>
                                <a href="{% url 'user_order' %}" class="list-group-item list-group-item-action border-0">
                                    Orders
                                </a>
                                <a href="{% url 'changepassword' %}" class="list-group-item list-group-item-action border-0">
                                    Change Password
                                </a>
                                <a href="{% url 'view_coupon' %}" class="list-group-item list-group-item-action border-0">
                                    Coupons {% if coupon_claimed %}<span class="badge badge-success">Claimed</span>{% endif %}
                                </a>
                                <a href="#" class="list-group-item list-group-item-action border-0">
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <!-- Main Content -->
                    <div class="card">
                        <div class="card-body">
                            <!-- Coupon List -->
                            <h5 class="card-title">Available Coupons</h5>
                            <div class="coupon-list">
                                {%for i in coupon %}
                                <div class="coupon border-bottom pb-3 mb-3">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h6>COUPON CODE: <strong>{{ i.code }}</strong></h6>
                                            <p>Get {{ i.discount_amount }} off on your order when you spend at least {{ i.min_amount }}</p>
                                            <p>Start Date: {{ i.start_date }}</p>
                                            <p>End Date: {{ i.end_date }}</p>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <!-- Badge for Claim Status -->
                                            <span class="badge badge-dark p-2">{% if coupon_claimed %}Claimed{% else %}Not Claimed{% endif %}</span>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}
                                <!-- Add more coupon entries as needed -->
                            </div>
                        </div>
                    </div>
                    {% if messages %}
                    <div class="messages text-center text-capitalize font-weight-bold mt-4">
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <h5 class="text-danger">! {{ message }}</h5>
                        {% elif message.tags == 'success' %}
                        <h5 class="text-success">! {{ message }}</h5>
                        {% else %}
                        <h5>! {{ message }}</h5>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="{% static 'user/home/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'user/home/js/bootstrap.min.js' %}"></script>
<script src="{% static 'user/home/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'user/home/js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'user/home/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'user/home/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'user/home/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'user/home/js/mixitup.min.js' %}"></script>
<script src="{% static 'user/home/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'user/home/js/main.js' %}"></script>
{% endblock %}
