{% extends 'user_nav.html' %}
{% block body %}

{% load static %}
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="card border-0 shadow rounded-lg">
                    <div class="card-body text-center">
                        <img src="{% static 'img/profile-pic.jpg' %}" alt="Profile Picture" class="rounded-circle mb-3" width="150">
                        <h4 class="text-uppercase mb-1">Jyoti</h4>
                        <p class="text-muted font-size-sm">Delhi, NCR</p>
                        <div class="list-group list-group-flush mt-4">
                            <a href="{% url 'view_address' %}" class="list-group-item list-group-item-action border-0">
                                Profile Information
                            </a>
                            <a href="{% url 'user_order'  %}" class="list-group-item list-group-item-action border-0">
                                Orders
                            </a>
                            <a href="{% url 'changepassword'  %}" class="list-group-item list-group-item-action border-0">
                                Change Password
                            </a>
                            <a href="{% url 'view_coupon' %}" class="list-group-item list-group-item-action border-0">
                                Coupons
                            </a>
                            <a href="#" class="list-group-item list-group-item-action border-0">
                                Logout
                            </a>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card border-0 shadow rounded-lg">
                    <div class="card-body">
                        <div class="profile-info">
                            <h5 class="text-uppercase mb-4">Profile Information</h5>
                            <p><strong>Name:</strong> {{data.username}}</p>
                            <p><strong>Email Address:</strong> {{data.email}}</p>
                            <p><strong>Contact:</strong> {{data.phone}}</p>
                            <p><strong>Role:</strong> User</p>
                        </div>
                    </div>
                </div>
                <div class="card mt-4 border-0 shadow rounded-lg">
                    <div class="card-body">
                        {% if Address %}
                        {% for address in Address %}
                        <div class="address-item border-bottom pb-3 mb-3">
                            <p class="text-muted font-size-sm mb-0"><strong>Address Type:</strong> {{ address.address_type }}</p>
                            <p class="mb-1"><strong>Address:</strong> {{ address.address }}</p>
                            <p class="text-muted font-size-sm mb-1"><strong>House No:</strong> {{ address.House_no }}</p>
                            <p class="text-muted font-size-sm mb-1"><strong>City:</strong> {{ address.city }}</p>
                            <p class="text-muted font-size-sm mb-1"><strong>Pincode:</strong> {{ address.pincode }}</p>
                            <p class="text-muted font-size-sm mb-1"><strong>State:</strong> {{ address.state }}</p>
                            <p class="text-muted font-size-sm mb-1"><strong>Country:</strong> {{ address.country }}</p>
                            <div class="d-flex justify-content-end">
                                <a href="{% url 'edit_adress' address.id %}" class="btn btn-sm btn-info">Edit</a>
                                <a href="{% url 'delete_address' address.id %}" class="btn btn-sm btn-danger ml-2">Delete</a>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p class="text-danger m-3">No Address Found</p>
                        {% endif %}
                        <a href="{% url 'add_address' %}" class="btn btn-primary mt-3">Add Address</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'user/home/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'user/home/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
