{% extends 'nav.html'%}
{% block body %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded p-4">
       
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>
                    <!-- Add other table headers if needed -->
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ item.cat_name }}</td>
                    <td>{{ item.cat_description}}</td>
                    <td><img src="{{ item.cover_image.url }}" alt="" width="50" ></td>
                    <td>
                        <a href="{% url 'listcategory' item.id  %}" class="btn btn-danger">list
                            
                        </a>
                        
                    </td>
                    <!-- Add other table cells if needed -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
   
{% endblock%}